.header {
    &__top {
        background-color: $bgc-color;
    }
    &__main{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 30px;
        background-color: $bgc-color;
    }
    &__logo{
        width: 200px;
        height: 100px;
    }
    &__social {
        display: flex;
        gap: 0 30px;
        
        &__item {
            font-size: 40px;
        }
    }
}


.navbar {
    .nav-item {
        text-align: center;
        color: white;
        padding: 0 10px;
        &:hover {
            background-color: #2255e0;
        }
    }
    .nav-link{
        color: white;
    }
    .btn {
        color: white;
        border-color: white;
    }
}