.container {
  max-width: 900px; }

.main {
  min-height: 400px; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }

#form {
  background: #3D6EF7;
  padding: 0.25rem;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  border-radius: 15px;
  backdrop-filter: blur(10px); }

#input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem; }

#input:focus {
  outline: none; }

#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff; }

.box-chat {
  position: fixed;
  z-index: 999;
  bottom: 0;
  right: 0;
  max-width: 350px; }

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#messages > li {
  padding: 0.5rem 1rem; }

#messages > li:nth-child(odd) {
  background: #efefef; }

.direct_contact {
  width: 270px;
  border: 1px solid #3D6EF7;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 35px 0px;
  position: fixed;
  left: 8px; }
  .direct_contact .contact_title {
    background-color: #3D6EF7;
    padding: 10px 5px;
    color: #fff; }
  .direct_contact img {
    width: 100%; }

.header__top {
  background-color: #f0f2f5; }

.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  background-color: #f0f2f5; }

.header__logo {
  width: 200px;
  height: 100px; }

.header__social {
  display: flex;
  gap: 0 30px; }
  .header__social__item {
    font-size: 40px; }

.navbar .nav-item {
  text-align: center;
  color: white;
  padding: 0 10px; }
  .navbar .nav-item:hover {
    background-color: #2255e0; }

.navbar .nav-link {
  color: white; }

.navbar .btn {
  color: white;
  border-color: white; }

.footer {
  background-color: #3D6EF7;
  width: 100%;
  color: white; }
  .footer__desc {
    padding-top: 30px; }
  .footer p {
    line-height: 45px; }
  .footer a {
    line-height: 30px;
    color: red; }
  .footer__map {
    padding-top: 40px;
    padding-bottom: 30px; }
  .footer #map {
    height: 300px;
    width: 700px;
    margin: 0 auto; }

.main__home .swiper {
  width: 100%;
  height: 100%; }

.main__home .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.main__home .swiper-slide img {
  display: block;
  width: 100vw;
  height: 80vh;
  object-fit: cover; }

.main__home .container {
  padding-top: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 35px 0px; }

.main__home .service_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; }
  .main__home .service_container .img_container {
    width: 150px;
    height: 150px; }
    .main__home .service_container .img_container img {
      border-radius: 50%;
      width: 100%;
      border: 2px solid #3D6EF7; }
  .main__home .service_container .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none; }
    .main__home .service_container .card-body {
      text-align: center; }

.main__home h1 {
  background-color: #3D6EF7;
  color: white;
  padding: 10px 5px; }

.main__home h4 {
  color: #3D6EF7; }

.main__home .checked {
  color: orange; }

.main__home .member__img {
  width: 100%;
  height: 180px;
  object-fit: cover; }

.main__home .card_container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border: #3D6EF7 1px solid; }

.main__home .container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 35px 0px; }

.main__home .news_card {
  display: grid;
  grid-template-columns: 30%  70%;
  gap: 20px;
  padding: 30px; }

.main__home .post_info {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 5px 10px; }
  .main__home .post_info a {
    text-decoration: none; }

.main__home img {
  width: 100%; }

.main__home .page_bottom {
  justify-content: end;
  margin-bottom: 50px;
  padding-bottom: 50px; }

.main__introduce .title__sub {
  font-weight: bold;
  font-size: 23px;
  font-style: italic; }

.main__introduce .container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 35px 0px; }

.main__introduce .member__img {
  width: 100%;
  height: 180px;
  object-fit: cover; }

.main__introduce .card {
  border: #3D6EF7 1px solid; }

.main__introduce h1 {
  color: #3D6EF7;
  font-weight: bold;
  font-size: 40px; }

.main__introduce h2 {
  color: #3D6EF7;
  font-weight: bold;
  font-size: 26px; }

.main__introduce h3 {
  color: #3D6EF7;
  font-weight: bold;
  font-size: 26px; }

.main__introduce h4 {
  color: #3D6EF7;
  font-weight: bold;
  font-size: 26px; }

.main__introduce h5 {
  color: #3D6EF7;
  font-weight: bold;
  font-size: 26px; }

.main__news .container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 35px 0px; }

.main__news .news_title {
  margin-bottom: 30px;
  color: #3D6EF7; }

.main__news .news_card {
  display: grid;
  grid-template-columns: 30%  70%;
  gap: 20px;
  padding: 30px; }

.main__news .post_info {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 5px 10px; }
  .main__news .post_info a {
    text-decoration: none; }

.main__news img {
  width: 100%; }

.main__news .page_bottom {
  justify-content: end;
  margin-bottom: 50px;
  padding-bottom: 50px; }

#test {
  color: red; }
