.container {
  max-width: 1000px; }

.main {
  min-height: 400px; }

/* Optional: Makes the sample page fill the window. */
.header__top {
  background-color: #f0f2f5; }

.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  background-color: #f0f2f5; }

.header__logo {
  width: 200px;
  height: 100px; }

.header__social {
  display: flex;
  gap: 0 30px; }
  .header__social__item {
    font-size: 40px; }

.navbar .nav-item {
  text-align: center;
  color: white;
  padding: 0 10px; }
  .navbar .nav-item:hover {
    background-color: #2255e0; }

.navbar .nav-link {
  color: white; }

.navbar .btn {
  color: white;
  border-color: white; }

.footer {
  background-color: #3D6EF7;
  width: 100%;
  color: white; }
  .footer__desc {
    padding-top: 30px; }
  .footer p {
    line-height: 45px; }
  .footer a {
    line-height: 30px;
    color: red; }
  .footer__map {
    padding-top: 40px;
    padding-bottom: 30px; }
  .footer #map {
    height: 300px;
    width: 700px;
    margin: 0 auto; }

.main__home .swiper {
  width: 100%;
  height: 100%; }

.main__home .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.main__home .swiper-slide img {
  display: block;
  width: 70vw;
  height: 80vh;
  object-fit: cover; }

.main__home .container {
  margin-top: 40px; }

.main__home .member__img {
  width: 100%;
  height: 180px;
  object-fit: cover; }

.main__introduce .title__sub {
  font-weight: bold;
  font-size: 23px;
  font-style: italic; }

.main__introduce .member__img {
  width: 100%;
  height: 180px;
  object-fit: cover; }

.main__introduce .card {
  border: #3D6EF7 1px solid; }

.main__introduce h1 {
  color: #3D6EF7;
  font-weight: bold;
  font-size: 40px; }

.main__introduce h2 {
  color: #3D6EF7;
  font-weight: bold;
  font-size: 26px; }

.main__introduce h3 {
  color: #3D6EF7;
  font-weight: bold;
  font-size: 26px; }

.main__introduce h4 {
  color: #3D6EF7;
  font-weight: bold;
  font-size: 26px; }

.main__introduce h5 {
  color: #3D6EF7;
  font-weight: bold;
  font-size: 26px; }
