.container {
  max-width: 1000px; }

.main {
  min-height: 400px; }

/* Optional: Makes the sample page fill the window. */
.header__top {
  background-color: #f0f2f5; }

.header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  background-color: #f0f2f5; }

.header__logo {
  width: 200px;
  height: 100px; }

.header__social {
  display: flex;
  gap: 0 30px; }
  .header__social__item {
    font-size: 40px; }

.header__nav {
  background-color: #3D6EF7; }
  .header__nav .nav {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .header__nav .nav-item {
      padding: 7px 10px; }
      .header__nav .nav-item:hover {
        background-color: #3c59a8; }
    .header__nav .nav-link {
      color: white; }
  .header__nav .dropdown-menu li {
    padding: 5px 10px; }

.footer {
  background-color: #3D6EF7;
  width: 100%;
  color: white; }
  .footer__desc {
    padding-top: 30px; }
  .footer p {
    line-height: 45px; }
  .footer a {
    line-height: 30px;
    color: red; }
  .footer__map {
    padding-top: 40px;
    padding-bottom: 30px; }
  .footer #map {
    height: 300px;
    width: 700px;
    margin: 0 auto; }

.main__introduce .title__sub {
  font-weight: bold;
  font-size: 23px;
  font-style: italic; }

.main__introduce .member__img {
  width: 286px;
  height: 180px;
  object-fit: cover; }

.main__introduce h1 {
  color: #3D6EF7;
  font-weight: bold;
  font-size: 40px; }

.main__introduce h2 {
  color: #3D6EF7;
  font-weight: bold;
  font-size: 26px; }

.main__introduce h3 {
  color: #3D6EF7;
  font-weight: bold;
  font-size: 26px; }

.main__introduce h4 {
  color: #3D6EF7;
  font-weight: bold;
  font-size: 26px; }

.main__introduce h5 {
  color: #3D6EF7;
  font-weight: bold;
  font-size: 26px; }

.main__introduce h9 {
  color: #3D6EF7;
  font-weight: bold;
  font-size: 26px; }
