<div class="main__home">
    <h1>Home pagegdfsfdsf</h1>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem voluptates possimus quisquam ratione? Placeat maiores debitis deleniti labore nesciunt sed accusantium quam, eveniet quibusdam laudantium ducimus natus provident voluptate. Molestiae?
</div>