<div class="main__introduce">
    <div class="container"> 
        <h1>
                GIỚI THIỆU CÔNG TY TNHH ĐẦU TƯ DỊCH VỤ DBH
        </h1>
        
        <div class ="body">
            <p>
                <strong>
                    <span style="color: #3D6EF7; font-size: 20px;">
                        "Công ty TNHH đầu tư dịch vụ DBH"
                    </span>
                </strong>
                là một trong những công ty chuyên cung cấp người giúp việc gia đình, tạp vụ văn phòng, lao động phổ thông hàng đầu hiện nay. Với đội ngũ lãnh đạo và nhân viên trẻ, chuyên nghiệp, được đào tạo bài bản, không ngừng nâng cao  nghiệp vụ, chúng tôi cam kết mang lại cho khách hàng sự hài lòng, an tâm tuyệt đối.
            </p>

            <p>
            Mục tiêu mà công ty theo đuổi chính là xây dựng một đội ngũ giúp việc có tâm, có tầm, trung thực, và thực sự yêu nghề. Qua đó thay đổi cách nhìn nhận của đại đa số dân cư về công việc giúp việc gia đình, đưa giúp việc gia đình trở thành một ngành nghề được tôn trọng trong xã hội và người lao động được trả công xứng đáng với sức lao động của mình.
            </p>
        </div>
        
        <h2>
                Khi giới thiệu người lao động cho khách hàng, chúng tôi cam kết:

        </h2>
        <ul>
            <li>Nhân thân rõ ràng, có cam kết, xác nhận của địa phương.   </li>
            <li>Có giấy xác nhận kiểm tra sức khỏe, không mắc các bệnh truyền nhiễm.</li>
            <li>Được đào tạo và kiểm tra kỹ năng.</li>
            <li> Kỹ năng dọn dẹp vệ sinh phòng khách, phòng ngủ, bếp ăn, nhà vệ sinh…</li>
            <li>Kỹ năng giặt quần áo, phơi đồ, là quần áo, gấp quần áo…</li>
            <li>Kỹ năng nấu ăn: Cách tẩm ướp, nấu các món cơ bản trong bữa ăn gia đình…</li>
            <li>Sử dụng các thiết bị hiện đại trong nhà và văn phòng: máy giặt, máy hút bụi, bếp ga, nồi cơm điện…</li>
            <p> Tiêu chí hoạt động của công ty là đảm bảo quyền lợi cao nhất của khách hàng, phục vụ tận tình nhất, chu đáo nhất, đem lại sự hài lòng đến với tất cả các khách hàng, trở thành một công ty cung ứng dịch vụ giúp việc , giúp việc ở lại hàng đầu Việt Nam.</p>
        </ul>
        <h3>         
             TẦM NHÌN VÀ SỨ MỆNH
        </h3>
        <p>
            <div class="title__sub">
                    Tầm nhìn:
            </div>
        </p>
        <p>
            Trở thành công ty hàng đầu trong lĩnh vực cung cấp các dịch vụ chăm sóc gia đình chất lượng cao và chuyên nghiệp trên thị trường Việt Nam và hướng tới phát triển thị trường ra nước ngoài.
        </p>
        <p>
            <div class="title__sub">
                    Sứ mệnh:
            </div>
        </p>
        <ul>
            <li>Mang tới cho khách hàng một cuộc sống thoải mái, tiện lợi và hạnh phúc </li>
            <li>Cung cấp dịch vụ bảo đảm chất lượng và tận tâm nhất</li>
            <li>Phát triển công ty cùng với sự phát triển của chất lượng cuộc sống</li>
            <li> Đem lại môi trường làm việc thân thiện và hợp tác cùng phát triển cho nhân viên công ty</li>
            <li>Mang lại cách nhìn mới cho xã hội về nghề giúp việc gia đình.</li>
        </ul>

        <h4>
                 VĂN HÓA DOANH NGHIỆP
        </h4>
        <ul>
            <li>Hướng đến khách hàng: Tất cả hoạt động của công ty đều dựa trên quyền lợi và sự hài lòng của khách hàng về dịch vụ giúp việc gia đình của công ty cung cấp.</li>
            <li>Vì lợi ích chung, hợp tác cùng phát triển: luôn đặt lợi ích chung lên trước lợi ích cá nhân, hành động vì sự phát triển của công ty.</li>
            <li>Thấu hiểu: đó là sự thấu hiểu lẫn nhau giữa nhân viên và nhà quản lý để tất cả mọi thành viên trong công ty đều có cùng hướng nhìn; đó là sự thấu hiểu nhu cầu khách hàng để có thể cung cấp một dịch vụ một cách tốt nhất, hiệu quả nhất.</li>
            <li>Tận tâm: Đối với khách hàng phải luôn nỗ lực và cố gắng làm việc vì lợi ích khách hàng.</li>
            <li>Chuyên nghiệp: Làm việc nhanh gọn, nghiêm túc và đạt hiệu quả cao.</li>
            <li>Học hỏi: luôn nêu cao tinh thần học hỏi, cầu tiến, không ngừng trau dồi các kiến thức và kỹ năng để nâng cao chất lượng phục vụ khách hàng.</li>
            <li>Tôn trọng: Tuân thủ không coi thường và vi phạm các quy định, nội quy công ty. Coi trọng và quý mến cấp trên và đồng nghiệp, có thái độ tôn trọng đối với khách hàng.</li>
            <p>Trung thực: Trung thực, ngay thẳng với bản thân, công ty và khách hàng, sẵn sàng nhận trách nhiệm khi sai sót trong công việc, thẳng thắn góp ý với đồng nghiệp, tạo sự đoàn kết trong công ty</p>
        </ul>
        <h9>
            CÁC THÀNH VIÊN SÁNG LẬP CÔNG TY:
        </h9>
        <div class="row">
            <div class="card" style="width: 18rem; display:inline-block" >
                <img class="card-img-top member__img" src="https://scontent.fhan4-1.fna.fbcdn.net/v/t1.6435-9/152649092_2850371158560730_8794740530154815116_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=e3f864&_nc_ohc=_XZES2UKMh4AX-2c-qG&tn=cgYDfs8ulwZkiOmY&_nc_ht=scontent.fhan4-1.fna&oh=00b1e4f5a829c034df9137a84e5aa51b&oe=615A4D1F" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Huong Hoa Hong</h5>
                    <p class="card-text">Nhân viên vệ sinh</p>
                </div>
            
            </div>
            <div class="card" style="width: 18rem; display:inline-block">
                <img class="card-img-top member__img" style="width: 286px; height=180px" src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.15752-9/240338737_4610177685712234_8828142060622582713_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=ae9488&_nc_ohc=RFFJQAYAajUAX8tUoq8&_nc_ht=scontent.fhan3-2.fna&oh=9ee08873e762d70a06f515b965fd0d8f&oe=61587939">
                <div class="card-body">
                    <h5 class="card-title">Bach pink</h5>
                    <p class="card-text">Bảo vệ</p>

                </div>
            </div>
            <div class="card" style="width: 18rem; display:inline-block">
                <img class="card-img-top member__img" style="width: 286px; height=180px" src="https://scontent.fhan3-2.fna.fbcdn.net/v/t1.15752-9/240338737_4610177685712234_8828142060622582713_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=ae9488&_nc_ohc=RFFJQAYAajUAX8tUoq8&_nc_ht=scontent.fhan3-2.fna&oh=9ee08873e762d70a06f515b965fd0d8f&oe=61587939">
                <div class="card-body">
                    <h5 class="card-title">Dung tai chinh</h5>
                    <p class="card-text">hacker</p>

                </div>
            </div>
        
</div>