<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
  </head>
    <style>
      .main-thanks {
        text-align: center;
        padding: 40px 0;
        background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
      }
        h1 {
          color: #3D6EF7;
          font-weight: 900;
          font-size: 40px;
          margin-bottom: 10px;
        }
        .thanks-desc {
          color: #404F5E;
          font-size:20px;
          margin: 0;
          margin-bottom: 40px;

        }
      .checkmark {
        color: #3D6EF7;
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;
        margin-bottom: 40px;
      }
      .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
      }
    </style>
    <body>
      <div class="main-thanks">
          <div class="card">
          <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
          </div>
            <h1>Success</h1>
            <p class="thanks-desc">Cảm ơn vì đã sử dụng dịch vụ của chúng tôi;<br/> CHúng tôi sẽ liên hệ sớm nhất có thể</p>
            <a href="/">Trở về trang chủ</a>
          </div>
      </div>
    </body>
</html>